$text-color: #ecf0f1;
$hover-color: #3498db;

.navbar {
	color: $text-color;
	padding: 1rem 2rem;
	text-align: center;

	.nav-links {
		list-style: none;
		padding: 0;
		display: flex;
		justify-content: center;

		li {
			margin: 0 15px;

			a {
				color: $text-color;
				text-decoration: none;
				font-weight: bold;
				font-size: 1.1rem;
				transition: color 0.3s ease-in-out;

				&:hover {
					color: $hover-color;
				}
			}
		}
	}
}
